



















<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">

<tr>
        <td align="center" height="100%" valign="top" width="100%" bgcolor="#26a4d3">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px; padding:0 20px;">
                <tr>
                    <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" align="center" style="font-family: 'Montserrat', Arial, sans-serif; font-size:16px; line-height:22px; font-weight:bold; color:#ffffff; text-transform:uppercase;" class="center body-text">
                        <h3 style="font-family: 'Montserrat', Arial, sans-serif; font-size:16px; line-height:22px; font-weight:bold; color:#ffffff; text-transform:uppercase; padding:0; margin:0;" class="body-text">We would love to hear your feedback</h3>
                    </td>
                </tr>
                <tr>
                    <td align="center" align="center" style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#aad4ea; text-transform:uppercase;" class="center bodytext">
                        <p style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#aad4ea; text-transform:uppercase; padding:0; margin:0;" class="body-text">Have your say about Procuretech Staff</p>
                    </td>
                </tr>
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;" bgcolor="#ffffff" class="body-text"><a href="https://procureline.us/contact-us" target="_blank" style="font-size: 14px; font-family: 'Montserrat', Arial, sans-serif; color: #26a4d3; text-decoration: none; text-decoration: none; border-radius: 50px; padding: 12px 28px; border: 1px solid #ffffff; display: inline-block; text-transform:uppercase; font-weight:bold;" class="body-text">Give Feedback</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" height="100%" valign="top" width="100%" bgcolor="#292828">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
                <tr>
                    <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="font-size:0; padding:0 20px;">
                    </td>
                </tr>
                <tr>
                    <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" height="100%" valign="top" width="100%" bgcolor="#FFFFFF">
             <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666;" class="body-text">
                        <p style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666; padding:0 20px; margin:0;" class="body-text">155 N Michigan Ave, Suite 513, Chicago, IL 60601 </p>
                    </td>
                </tr>
                <tr>
                    <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666;" class="body-text">
                        <p style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666; padding:0 20px; margin:0;" class="body-text">Email :<a style="color:#0099CC;" href="mailto:helpdesk@procureline.us " target="_top"> helpdesk@procureline.us  </a>&nbsp;&nbsp;&nbsp;
                            Tel: 773-304-3630&nbsp;&nbsp;&nbsp; Fax: 773-747-4056 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" height="100%" valign="top" width="100%" bgcolor="#FFFFFF" style="border-top:1px solid #dddddd;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666;" class="body-text">
                        <p style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666; padding:0; margin:0;" class="body-text">&copy; 2017 Proculine - All Rights Reserved.</p>
                    </td>
                </tr>
                <tr>
                    <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</center>
</td>
</tr>
</table>  
</td>
</tr>
</table>
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
</body>
</html>